body {
  display: flex;
  min-height: 100vh;
  background-color: #20232a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

aside {
  min-width: 200px;
  max-width: 300px;
  background-color: #20232a;
  color: #fff;
}

li {
  cursor: pointer;
  margin-top: 10px;
}

.container {
  background-color: aliceblue;
  border-radius: 5px;
  margin: 10px;
  flex-grow: 2;
}

.post {
  margin: 15px;
  border-radius: 10px;
  color: #007bec;
  font-size: 2rem;
}

.comments {
  color: #007bec;
  margin: 20px;
}

.comment {
  margin: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.post h1 {
  text-align: center;
}

#root {
  display: flex;
  width: 100%;
}

.login{
  transform: translate(600px,200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 50px;
  background-color: #f0f0f0;
  margin-right: 25px;
  .input-box{
    display: flex;
    flex-direction: column;
  }
  .btn-login{
    border: 1px solid;
    background-color: aquamarine;
    margin-top: 20px;
  }
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}