* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../image/istockphoto-972377022-1024x1024.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.car{
  width: 350px;
  position: absolute;
  bottom: 35px;
}
.btn{
  position: absolute;
  bottom: 25px;
  left: 520px;
}
.btn span{
  font-size: 20px;
}
.run-b,
.run-f,
.stop{
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: darkslategrey;
  color: #fff;
}
