* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  flex-wrap: wrap;
}
h1 {
  color: #fff;
  margin-top: 80px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: 25px;
  background-color: #48c4ee;
  border-radius: 8px;
}
#user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
#input1,
#input2 {
  width: 350px;
  height: 35px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
}
#input1 ::-webkit-outer-spin-button,
#input1 ::-webkit-inner-spin-button,
#input2 ::-webkit-outer-spin-button,
#input2 ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#btn {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#plus,
#minus,
#multiply,
#divide,
#modulus,
#reset {
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(0, 196, 0);
  color: white;
  cursor: pointer;
}
#reset {
  background-color: red;
  font-size: 15px;
}
#result {
  display: none;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 350px;
  height: auto;
  text-align: center;
  padding: 5px 10px;
  box-shadow: -3px 3px 5px gray;
}
