.table{
    width: 500px;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    padding-left: 50px;
    border-radius: 10px;
    overflow: hidden;
}
.head{
    background-color: green;
    color: white;
    height: 40px;
}
.table tr:nth-child(2){
    background-color: lightgrey;
    color: green;
}
table td{
    padding-left: 10px;
}
.last-tr{
    border-bottom: 1px solid green;

}